/* Reset margin and padding for the body */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto; /* Allow vertical scrolling */
}

main {
  text-align: center;
  padding: 20px;
  overflow-y: auto; /* Ensure vertical scrolling is enabled if needed */
  min-height: 100vh; /* Minimum height is the full viewport height */
  margin: auto;
  box-sizing: border-box; /* Include padding in the element's total width and height */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center children vertically */
}

input {
  display: block;
  margin: 8px auto; /* This effectively creates 16px spacing between stacked inputs */
  padding: 10px;
  width: 80%; /* Adjust width as needed */
  box-sizing: border-box;
  border-radius: 5px; /* Basic rounding of inputs */
  border: 1px solid #ccc; /* Light grey border */
}

button {
  margin-top: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Additional styling for the remove button to make it smaller and less prominent */
button.remove {
  padding: 5px 10px;
  background-color: #dc3545;
  margin-left: 8px; /* Ensure 8px spacing between the input and this button */
  cursor: pointer;
  border: 1px solid #ccc;
  color: black;
  background-color: transparent;
}

button.remove:hover {
  background-color: #c82333;
}

.input-container {
  display: flex;
  align-items: center; /* This will vertically center the children */
  justify-content: center;
  margin-bottom: 16px;
  width: 100%;
}

.link-button {
  background: none;
  color: blue;
  cursor: pointer;
  padding: 0;
  border: none;
  text-align: left;
  display: block; /* Makes the button full width, easier to align text to the left */
  margin-top: 16px;
  text-decoration: underline; /* Optional: Makes it clear it's clickable */
  margin: 10px 0; /* Adjust spacing as needed */
}

/* Adjust the container to align items to the start (left) */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Adjust based on content size */
  align-items: center; /* Center content horizontally */
  min-height: 100vh; /* Ensure it takes up at least the viewport height */
  overflow-y: auto; /* Enable scrolling within this container */
  width: 80%; /* Adjust based on your layout */
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}

hr {
  width: 100%;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

section {
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}